.cart-page {
  display: flex;
}

#cart-content {
  flex: 3;
}

#cart-bar {
  flex: 1;
  margin: 25px;
  padding: 12px;
  border-radius: 1rem;
  background: var(--darkgray);
}

.bento {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, max(220px, 33%)), 1fr));
}

.nb-selector {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 64px;
  height: 32px;
  padding: 0;
  border-radius: 16px;
  border: none;
  display: flex;
  opacity: 0;
  transform: translateY(calc(var(--card-height) - var(--card-title-height)));
  transition: opacity .25s ease, transform .25s ease;
  z-index: 2;
}

.description:hover .nb-selector {
  opacity: 1;
  transform: translateY(0);
}

.remove-from-cart,
.add-to-cart,
.amount {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--red);
  color: var(--offwhite);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.remove-from-cart {
  border-radius: 16px 0px 0px 16px;
}

.add-to-cart {
  border-radius: 0px 16px 16px 0px;
}

.amount {
  border-radius: 0px;
  border: 0px;
  appearance: textfield;
  box-sizing: border-box;
}

.add-to-cart:hover,
.remove-from-cart:hover {
  background: var(--darkred);
}

button {
  background: var(--gold);
  width: 100%;
  height: 50px;
  font-size: 20px;
}
