.input-group input,
.input-group select,
.btn {
    box-sizing: border-box;
}

.form-page {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 1rem;
    background-color: var(--darkgray);
    color: var(--solid-gold);
}

.form-page h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 0px;
    border-radius: 3px;
    color: var(--offwhite);
    background: var(--input-color);
}

.input-group select {
    width: 100%;
    padding: 8px;
    border: 0px;
    border-radius: 3px;
    color: var(--offwhite);
    background: var(--input-color);
}

.basic-btn {
    width: 100%;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

#postal-code {
  appearance: textfield;
}
