:root {
  --solid-gold: #a58741;
  --solid-dark-gold: #4a3c1d;
  --offwhite: #fffcf5;
}

.form-page {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--offwhite);
    color: var(--solid-gold);
}

.form-page h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: white;
}

.btn {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--solid-gold);
    color: var(--offwhite);
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--solid-dark-gold);
}

p {
    text-align: center;
}
