:root {
  --legoyellow: #ffd502;
  --navbargrey: #d1ccc577;
}

@font-face {
    font-family: 'Brix';
    src: url('fonts/brix.ttf') format('truetype');
}
  
body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-family: 'Brix', sans-serif;
}

#main-header {
  display: flex;
  position: relative;
  justify-content: center;
}

#navbar-header {
  padding: 8px 44px;
  background-color: var(--navbargrey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 78px;
  width: 150px;
  z-index: 1;

  padding-top: 37px;
  padding-left: 30px;
  padding-right: 30px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.5));
}

#navbarbutton {
  position: relative;
  text-decoration: none;
  color: black;
  
}

#navbarbutton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;                
  height: 2px;
  background-color: black;

  transform: scaleX(0);        
  transform-origin: center;    
  transition: 0.3s;  
}

#navbarbutton:hover::after {
  transform: scaleX(1);       
}

#map {
    width: 80%;
    height: 500px;
    margin: auto; /*centrer*/
}

h1 {
  font-size: 50px;
  padding-top: 15px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 1;
  text-align: center;
  color:white;
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: 0;
    filter: brightness(45%); 
    
}
article {
    background-color: darkorange;
    padding: 1rem;
    margin-bottom: 1rem;
}

article figure {
    margin: 0;
}

main {
    margin-inline: auto;
    padding-block-start: 2rem;
}

main img {
    width: 100%;
}

.bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.bento > * {
    margin: 0.5rem;
    border-radius: 0.5rem;
}
