:root {
  --lego: #ffd502;
  --navbartext: #dbdbdb;
  --gold: linear-gradient(#a58741, #4e4e07);
}

@font-face {
    font-family: 'Brix';
    src: url('fonts/brix.ttf') format('truetype');
}
  
body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background:black;
  color: white;
}

h1 {
  font-family: 'Brix', sans-serif;
}

h2 {
  text-align: center;
}

#main-header {
  display: flex;
  position: relative;
  justify-content: center;
}

#navbar-header {
  padding: 8px 44px;
  background: var(--gold);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 78px;
  width: 150px;
  z-index: 1;

  padding-top: 37px;
  padding-left: 30px;
  padding-right: 30px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.5));
}

#navbarbutton {
  position: relative;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-weight: bold;
  color: var(--navbartext);
  
}

#navbarbutton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;                
  height: 1px;
  background-color: var(--navbartext);

  transform: scaleX(0);        
  transform-origin: center;    
  transition: 0.3s;  
}

#navbarbutton:hover::after {
  transform: scaleX(1);       
}

#map {
    width: 80%;
    height: 500px;
    margin: auto; /*centrer*/
}

h1 {
  font-size: 50px;
  padding-top: 15px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.2));
  position: relative;
  z-index: 1;
  text-align: center;
  color:white;
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: 0;
    filter: brightness(30%);
}

#slideshow {
  display: flex;
  width: 400%;     
  animation: slide-boucle 21s ease-in-out infinite;
}

.slide {
  position: relative;
  padding-top:50px;
  flex: 0 0 25%;      
  display: flex;
  justify-content: center;         
}

.rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; 
  background-color: rgba(0, 0, 0, 0.65);
}

.rectangle h2{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.rectangle p{
   color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.slide img {
  max-width: 100%;  
  border-radius: 0px;         
}

@keyframes slide-boucle {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-25%);
  }
  50%, 65% {
    transform: translateX(-50%);
  }
  70%, 95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

article {
    padding: 1rem;
    margin-bottom: 1rem;
}

main {
    margin-inline: auto;
    padding-block-start: 2rem;
}

main img {
    width: 100%;
}

div#reviews-title {
    color: #c0c0c0;
    margin-left: 45%;
    margin-top: 5%;
}

*.reviews {
    color: white;
}

body>table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
    padding: 1%;
    border-style: solid;
    border-color: white;
}

.description {
  position: relative;
  cursor: help;
  border-radius: 50%;
}

.description:hover:after {
  content: attr(description);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 5px 14px;
  background: var(--gold);
  border-radius: 8px;
  font-size: 1.2rem;
}
