:root {
  --legoyellow: #ffd502;
}

@font-face {
    font-family: 'Brix';
    src: url('fonts/brix.ttf') format('truetype');
  }
  
body {
  margin: 0;
}

h1 {
  font-family: 'Brix', sans-serif;

}

#main-header {
  display: flex;
  background-color : var(--legoyellow);
}

#logo {
  height: 78px;
  width: 150px;

  padding-top: 37px;
  padding-left: 30px;
  padding-right: 30px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.5));
}


h1 {
  font-size: 50px;
  padding-top: 15px;
  filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.2));
}
