
.admin-main {
    padding: 40px;
}

.panel {
    background: var(--darkgray);
    border: 0px;
    border-radius: 15px;
    padding: 25px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 0px;
    padding-bottom: 10px;
}

.search-bar, .filter-select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.admin-table {
    width: 100%;
    margin-top: 10px;
}

.admin-table th {
    color: var(--solid-gold);
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--solid-gold);
}

.admin-table td {
    padding: 12px;
    color: var(--text-on-bg);
    border-bottom: 1px solid var(--input-color);
}

.tag {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    background: var(--darkgray);
}

.tag.gold {
    background: var(--solid-gold);
}

.action-link {
    color: var(--solid-gold);
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
}

.action-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.banned {
    text-decoration: line-through;
    opacity: 0.6;
}
