table {
    width: 90%;
    margin: 30px auto;
    background: var(--darkgray);
    border: 0px;
    border-radius: 15px;
    padding: 30px;
    border-spacing: 20px;
    table-layout: fixed;
}

table td:last-child {
    text-align: center;
}

.waiting-delivery-btn {
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: var(--text-on-bg);
    background: var(--input-color);
    width: calc(100% - 20px);
    height: 100px;
    font-size: 40px;
    margin: 10px;
}

table h3 {
    font-size: 32px;
    text-align: center;
}

table span {
    font-size: 20px;
}

.tab-content {
    display: none;
}

.tabs-nav {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    user-select: none;
}

.tab-item {
    background: var(--solid-dark-gold); 
    padding: 25px 18%;
    border-radius: 1rem;
    margin: auto;
    color: var(--offwhite);
    cursor: pointer;
    font-size: 20px;
    margin-top: 25px;
}

.tab-item:has(input:checked) {
    background: var(--solid-gold);
    box-shadow: 0 0 20px var(--solid-gold); 
}

.tabs:has(#pending-toggle:checked) #pending-content {
    display: block;
}

.tabs:has(#delivery-toggle:checked) #delivery-content {
    display: block;
}

input {
    visibility:hidden;
}
