.add-card {
    background-image: url(/assets/images/add.svg);
    background-color: var(--solid-gold);
}

.menu .category-header form {
    display: flex;
    gap: 12px;
}

.menu .category-header .menu-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu .category-header .menu-actions form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-actions-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.delete-menu-form {
    display: none;
}

.edit-icon {
    width: 28px;
}

.save-btn {
    display: inline-flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.category-header form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-header .subtitle {
    order: 2;
    width: 100%;
    margin: 0;
    text-align: center;
}

.category-header .subtitle input {
    width: 100%;
}

h5 {
    margin: 0px;
}

.basic-btn[onclick="location.href='/menu_editor'"] {
    margin: 25px; 
    text-align: left;
}
