.add-card {
    background-image: url(/assets/images/add.svg);
    background-color: var(--lightgray);
}

.menu .category-header form {
    display: flex;
    gap: 12px;
}

.edit-icon {
    width: 28px;
}

.save-btn {
    display: inline-flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
