.cart-page {
  display: flex;
}

#cart-content {
  flex: 3;
}

#cart-bar {
  flex: 1;
  margin: 25px;
  padding: 12px;
  border-radius: 1rem;
  background: var(--darkgray);
  font-size: 20px;
}

#cart-bar p {
  font-size: 25px;
}

#checkout {
  background: var(--gold);
  width: 100%;
  height: 50px;
  font-size: 15px;
}

ul {
  padding: 25px;
}

li {
  padding-bottom: 10px;
}

/* Hide arrow keys in number inputs (otherwise they hide the number) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coupon-form button {
  border: none;
}

.coupon-details {
  margin-top: 15px;
  text-align: center;
}

.coupon-details summary {
  cursor: pointer;
  font-size: 0.8rem;
}

#delivery-type {
  display: flex;
  background: var(--darkgray);
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--lightgray);
}

#delivery-type button {
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: var(--text-on-bg);
}

#delivery-type button.selected {
  background: var(--solid-gold);
}

#delivery-type button:not(.selected):hover {
  background: var(--lightgray);
}

form#delivery-time {
  margin: 20px 0px 20px 0px;
  background: var(--darkgray);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--lightgray);
}

label#takeway {
  display: block;
  margin-bottom: 10px;
}

input#takeaway_time {
  margin-bottom: 10px;
  width: calc(100% - 20px);
}

button#takeaway {
  width: 100%;
}

/* Media query that does the following only if the condition is true */
@media (max-width: 768px) {
  .cart-page {
    flex-direction: column;
  }

  #cart-bar {
    margin: 25px 0px;
  }
}