.filters-panel {
  padding: 20px 20px 0px 20px;
}

.filters-panel summary {
  list-style: none;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 14px;
  border-radius: 10px;
  background: var(--darkgray);
}

.filters-panel summary img {
  width: 32px;
  height: 32px;
  display: block;
}

.filters-menu {
  margin-top: 10px;
  background: var(--darkgray);
  border: 0px;
  border-radius: 16px;
  padding: 14px;
}

.filters-list {
  display: flex;
  gap: 8px;
}

.filter {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.filters-menu label {
  padding: 6px 10px;
  border-radius: 10px;
  background: var(--input-color);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

#crustacean:checked ~ .filters-panel .filters-menu label[for="crustacean"],
#fish:checked ~ .filters-panel .filters-menu label[for="fish"],
#gluten:checked ~ .filters-panel .filters-menu label[for="gluten"],
#milk:checked ~ .filters-panel .filters-menu label[for="milk"],
#sesame:checked ~ .filters-panel .filters-menu label[for="sesame"],
#egg:checked ~ .filters-panel .filters-menu label[for="egg"],
#soy:checked ~ .filters-panel .filters-menu label[for="soy"],
#nut:checked ~ .filters-panel .filters-menu label[for="nut"],
#sulfite:checked ~ .filters-panel .filters-menu label[for="sulfite"] {
  color: black;
  background: var(--solid-gold);
}

#crustacean.filter:not(:checked) ~ .menu .food-section .crustacean,
#fish.filter:not(:checked) ~ .menu .food-section .fish,
#gluten.filter:not(:checked) ~ .menu .food-section .gluten,
#milk.filter:not(:checked) ~ .menu .food-section .milk,
#sesame.filter:not(:checked) ~ .menu .food-section .sesame,
#egg.filter:not(:checked) ~ .menu .food-section .egg,
#soy.filter:not(:checked) ~ .menu .food-section .soy,
#nut.filter:not(:checked) ~ .menu .food-section .nut,
#sulfite.filter:not(:checked) ~ .menu .food-section .sulfite {
  display: none;
}

.items-grid {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, max(220px, 25%)), 1fr));
}

.menu-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  overflow: hidden;
  display: flex;
  gap: 2px;
}

.products-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-toolbar .filters-panel {
  padding: 20px 0px 0px 20px ;
  display: inline-block;
}

.sort-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 20px 0px 0px;
}

.sort-container label {
  color: var(--offwhite);
  font-weight: 600;
  font-size: 1rem;
}

.custom-sort-select {
  background-color: var(--darkgray);
  color: var(--solid-gold);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
  height: 48px;
}