.form-page {
  width: 90%;
}

#address-group {
  display: flex;
  gap: 10px;
}

#street_nb, #street_nb_suf {
  width: 75px;
}

.alert-btn {
  background: var(--red);
}

.alert-btn:hover {
  background: var(--darkred);
}

option {
  color: var(--darkgray);
}
