.form-page {
  width: 90%;
}

#address-group {
  display: flex;
  gap: 10px;
}

#street_nb, #street_nb_suf {
  width: 75px;
}

#street_nb_suf {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--input-color);
  color: var(--text-on-bg);
  font-family: inherit;
}

.alert-btn {
  background: var(--red);
}

.alert-btn:hover {
  background: var(--darkred);
}

option {
  background-color: var(--darkgray);
  color: var(--text-on-bg);
}
