#slideshow {
    display: flex;
    width: 400%;
    animation: none;
    transition: transform 0.5s ease-in-out;
}

#slideshow-frame {
    width: 90%;
    margin: 24px auto;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    clip-path: inset(0 round 25px);
    position: relative;
}

.slide {
    position: relative;
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: var(--offwhite);
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.slide-btn:hover {
    background: var(--solid-gold);
}

#prev {
  left: 15px;
}

#next {
    right: 15px;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.rectangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: clamp(100px, 30vw, 200px);
  filter: saturate(50%);
  backdrop-filter: blur(5px);
  text-shadow: 0px 0px 5px black;
  padding: clamp(5px, 2vw, 15px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rectangle h2{
  text-align: center;
  font-weight: bold;
  font-size: clamp(14px, 3vw, 26px);
  color: var(--offwhite);
  margin: 0;
}

.rectangle p{
  color: var(--offwhite);
  font-size: clamp(10px, 2vw, 22px);
  text-align: center;
  margin: clamp(5px, 1vw, 10px) 0 0 0;
}
